html{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(0, 0, 0);
	background-color: #ffffff;
	height: 930px;
}
body
{
	margin: 0;
	padding: 0;
}
#navbar {
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    background-color: #728f9b;
	z-index: 1;
    }
    #navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    }
    
    #navbar a:hover{
    background-color: #ddd;
    color: black;
	}
.end{
    left:400px
}
select{
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#startDate,#endDate{
	font-size: 25px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label{
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#start{
	position: relative;
	left:400px;
	top: 30px;
	width: max-content;
}
#end{
	position: relative;
	left:830px;
	top: -10px;
	width: max-content;
}
#submit{
	position: relative;
	top: -45px;
	left:1240px;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#reset{
	position: relative;
	top: -50px;
	left:1240px;
	font-size: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.results{
	position: relative;
	left:500px;
}
table, th, td {
	border: 1px solid black;
	text-align: center;
	border-collapse: collapse;
  }
table{
	width:50%;
	margin-left: auto;
	margin-right: auto;
}


